body {
  color: #222;
  background: #edf7f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
img {
  max-width: 100%;
}

.container {
  padding: 0.6rem;
  max-width: 60rem;
  margin: 0 auto;
}

main.entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.logo {
  height: 6rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 3.125rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

section.post {
  margin-bottom: 2rem;

  border-radius: 0.2rem;
  overflow: hidden;
  color: #edf7f6;
  background: #161032;
}

section.post img {
  width: 100%;
  height: 16rem;
}

@media screen and (max-width: 768px) {
  main.entries {
    grid-template-columns: 1fr;
    margin: 0 9rem;
  }
}

@media screen and (max-width: 425px) {
  main.entries {
    margin: 0;
  }
}

section.post div.texts h2 {
  margin: 0;
  font-size: 1.6rem;
}

section.post div.texts a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
section.post p.info {
  margin: 0.375rem 0;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

section.post p.summary {
  line-height: 1.4rem;
  padding: 0 1rem;
  margin: 1rem 0;
}

form.login,
form.register {
  max-width: 21rem;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 0.3rem;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  padding: 5px 7px;
  background: #fff;
}

button {
  cursor: pointer;

  width: 100%;
  display: block;
  background: #fe5d26;
  border: 0;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.4rem 0;
}

form.login h1,
form.register h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #161032;
}

section.post-page div.image {
  max-height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
}
section.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

section.post-page a {
  color: #333;
  text-decoration: underline;
}

section.post-page h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

section.post-page div.title {
  position: absolute;
  z-index: 2;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.post-page time {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.75rem;
  color: lightgrey;
}

section.post-page div.author {
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

section.post-page div.content p {
  line-height: 1.6rem;
}
div.edit-row {
  text-align: center;
  margin: 20px 0;
}
section.post-page a.edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #333;
  color: white;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}

section.post div.title {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0 3rem;
}

.create-logout-btns {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.create-btn:hover {
  background-color: #cb4a1e;
}

.create-btn {
  padding: 1rem;
  background-color: #fe5d26;
  color: white;
  border-radius: 13px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logout-btn {
  cursor: pointer;
  height: 2rem;
}

.aside {
  width: 30%;
  height: 100dvh;
  background: #161032;
}

.login-container {
  display: flex;
}

form.login,
form.register {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -13rem;
}

form.login img.form-logo,
form.register img.form-logo {
  transform: translateX(10px);
  margin-bottom: -2rem;
  display: block;
  z-index: -1;
}

.small-register {
  margin: 1rem 0;
}

.register-link {
  text-decoration: none;
  color: #161032;
}
